{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'banners/style.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

{% if latest_banner_list %}
    <ul>
    {% for banner in latest_banner_list %}
    <li><a href="{% url 'banners:detail' banner.id %}">{{ banner.title }}</a></li>
	<ul>
	  {% for photo in banner.images.all %}
	    <li>
		 <img src ="{{ photo.image.url }}"/>
	    </li>
	  {% endfor %}
	</ul>
    {% endfor %}
    </ul>
{% else %}
    <p>No banners are available.</p>
{% endif %}
