{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'banners/style.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if latest_banner_list %}
    <ul>
    {% for banner in latest_banner_list %}
    <li><a href="{% url 'banners:detail' banner.id %}">{{ banner.title }}</a></li>
	<section class="banner">		
    	<ul class="slides">
	  {% for photo in banner.images.all %}
	  <li class="slide-item slide-{{photo.id}}" id="slide-{{photo.id}}">
		 <a class="photo-description"> {{ photo.description }}</a>
		 <img class="photo" src ="{{ photo.image.url }}"/>
	    </li>
	  {% endfor %}
	</ul>
	<div class="banner__nav">
	{% for photo in banner.images.all %}
	  <a class="slider-nav" href="#slide-{{photo.id}}">{{photo.id}}</a>
	{% endfor %}
	</div>
	</section>
    {% endfor %}
    </ul>
{% else %}
    <p>No banners are available.</p>
{% endif %}
